title {
	color: #811A1E ;
}

h1 {
	margin-left: 20px;
	color: #600F8E ;
	font-size: 30;
	font-family: "Arial";
	font-style: "bold";
}

h2, h3 {
	margin-left: 100px;
	color: #13136B ;
	font-size: 20;
	font-family: "Arial";
	font-style: "bold";
	text-position: right;
}

a {
	margin-left: 10px;
	color: black;
	font-style: 12;
	font-family: "Arial";
}

a:hover {
	text-align: center;
}

footer {
	text-align: center;
	font-family: "Arial";
	color: black;
	font-size: 12;
	font-style: "bold";
}

body {
	background-color: #1EB060;
}

img {
	display: flex;
	border: 5px solid #26760A;
	border-radius: 5px;
}

.grid-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.grid-img{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 300px;
  gap: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 20px;
}

img:hover {
  display: flex;
  height: 100%;
  width: 100%;
}

.lien-conteneur-photo {
  position: relative;
}

.photo-hover {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  right: -5px;
  bottom: -5px;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-style:"bold";
  color: white;
  background-color: black;
  opacity: 0.6;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

.cc {
	text-align: center;
	font-family: "Arial";
	font-size: 20px;
	font-style: normal;
}

