title {
	color: #1113A1 ;
}

h1 {
	margin-left: 20px;
	color: #1113A1 ;
	font-size: 30;
	font-family: "Arial";
	font-style: "bold";
}

h2, h3 {
	margin-left: 10px;
	color: #1113A1 ;
	font-size: 20;
	font-family: "Arial";
	font-style: "bold";
}

li, a, ol, ul, p {
	margin-left: 10px;
	color: black;
	font-style: 12;
	font-family: "Arial";
}

footer {
	text-align: center;
	font-family: "Arial";
	color: black;
	font-size: 12;
	font-style: "bold";
}

body {
	background-color: #19C2DD;
}

img {
	display: inline-flex;
	border: 5px #1BA3EC solid;
	border-radius: 15px;
}

.pizza {
	padding-top: 250px;
	padding-left: 50px;
	color: navy;
	font-style: "bold";
	font-family: "Arial";
	font-size: 14px;
}

.pizz {
	padding-left: 40px;
	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-template-rows: 0px;
  	gap: 15px;
}

img:hover {
	display: flex;
}

.piza {
	padding-left: 50px;
	color: navy;
	font-style: "bold";
	font-family: "Arial";
	font-size: 14px;
}