title {
	color: #811A1E ;
}

h1 {
	margin-left: 20px;
	color: #350C02 ;
	font-size: 30;
	font-family: "Arial";
	font-style: "bold";
}

h2, h3 {
	margin-left: 10px;
	color: #350C02 ;
	font-size: 20;
	font-family: "Arial";
	font-style: "bold";
}

li, a, ol, ul, p {
	margin-left: 10px;
	color: black;
	font-style: 12;
	font-family: "Arial";
}

footer {
	text-align: center;
	font-family: "Arial";
	color: black;
	font-size: 12;
	font-style: "bold";
}

body {
	background-color: #EE0000;
}

img {
	border: 5px #FE2630 solid;
	border-radius: 15px;
}

.grid {
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 400px 400px;
	height: 100%;
	width: 100%;
	gap: 40px;
}

.box {
  	width: 300px;
  	height: 300px;
}




